---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-2065840846486600301","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:15:31.638409Z","description":"","id":"3a073a16-4e6d-475f-b6e4-3772b12bb894","name":"test-acc-scaleway-project-2065840846486600301","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-07T21:15:31.638409Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-8223608261274867584","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:15:31.899784Z","description":"","editable":true,"id":"68a0f8d8-62ba-49ed-b08f-b816a594f5c3","name":"test-acc-scaleway-iam-app-8223608261274867584","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:15:31.899784Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-7356364778232972301","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["IAMManager"],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":null,"application_id":"68a0f8d8-62ba-49ed-b08f-b816a594f5c3"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"68a0f8d8-62ba-49ed-b08f-b816a594f5c3","created_at":"2024-03-07T21:15:32.001031Z","description":"","editable":true,"id":"61efc80d-b3e0-4bf1-9719-7f0997ef7096","name":"test-acc-scaleway-iam-policy-7356364778232972301","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:15:32.001031Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"68a0f8d8-62ba-49ed-b08f-b816a594f5c3","default_project_id":"3a073a16-4e6d-475f-b6e4-3772b12bb894","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWK4ZECJSJ49AKW8NZX","application_id":"68a0f8d8-62ba-49ed-b08f-b816a594f5c3","created_at":"2024-03-07T21:15:32.287381Z","creation_ip":"51.159.73.9","default_project_id":"3a073a16-4e6d-475f-b6e4-3772b12bb894","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-07T21:15:32.287381Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
