---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-9093667377091104468","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:02:10.520412Z","description":"","id":"093e987d-f653-4279-8115-1d46f503e5f6","name":"test-acc-scaleway-project-9093667377091104468","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-07T21:02:10.520412Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-3172745825556532736","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:02:10.788813Z","description":"","editable":true,"id":"570ee80b-4248-41c1-8737-deaf5821a6d0","name":"test-acc-scaleway-iam-app-3172745825556532736","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:02:10.788813Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-612195780464290758","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["IAMManager"],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":null,"application_id":"570ee80b-4248-41c1-8737-deaf5821a6d0"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"570ee80b-4248-41c1-8737-deaf5821a6d0","created_at":"2024-03-07T21:02:10.915556Z","description":"","editable":true,"id":"a501bd34-a165-465b-a05c-abb71eade540","name":"test-acc-scaleway-iam-policy-612195780464290758","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:02:10.915556Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"570ee80b-4248-41c1-8737-deaf5821a6d0","default_project_id":"093e987d-f653-4279-8115-1d46f503e5f6","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWRMV90HX8CZ61VET7A","application_id":"570ee80b-4248-41c1-8737-deaf5821a6d0","created_at":"2024-03-07T21:02:11.229128Z","creation_ip":"51.159.73.9","default_project_id":"093e987d-f653-4279-8115-1d46f503e5f6","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-07T21:02:11.229128Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
