---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-2796359734586642776","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-08T08:52:05.989462Z","description":"","id":"dfecb220-322a-4687-8ef5-6af489bc88d6","name":"test-acc-scaleway-project-2796359734586642776","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-08T08:52:05.989462Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-6151489254959529133","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-08T08:52:06.229184Z","description":"","editable":true,"id":"b1126c4b-2046-49e9-a493-27dd43572142","name":"test-acc-scaleway-iam-app-6151489254959529133","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-08T08:52:06.229184Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-1071594112818590843","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["dfecb220-322a-4687-8ef5-6af489bc88d6"]}],"tags":null,"application_id":"b1126c4b-2046-49e9-a493-27dd43572142"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"b1126c4b-2046-49e9-a493-27dd43572142","created_at":"2024-03-08T08:52:06.328121Z","description":"","editable":true,"id":"6a5e18a9-6198-4728-81a8-c1b6c369e0d6","name":"test-acc-scaleway-iam-policy-1071594112818590843","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-08T08:52:06.328121Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"b1126c4b-2046-49e9-a493-27dd43572142","default_project_id":"dfecb220-322a-4687-8ef5-6af489bc88d6","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWB5ZCZC0150WA6FP52","application_id":"b1126c4b-2046-49e9-a493-27dd43572142","created_at":"2024-03-08T08:52:06.595924Z","creation_ip":"151.252.119.15","default_project_id":"dfecb220-322a-4687-8ef5-6af489bc88d6","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-08T08:52:06.595924Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
