---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-2225114159577912147","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-08T08:52:06.710029Z","description":"","id":"00d08ac1-e02a-49d6-bc63-9dae5b19afc2","name":"test-acc-scaleway-project-2225114159577912147","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-08T08:52:06.710029Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-5655930040260388746","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-08T08:52:06.922316Z","description":"","editable":true,"id":"41645ee7-74d1-468a-9371-a8454cfbd7cf","name":"test-acc-scaleway-iam-app-5655930040260388746","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-08T08:52:06.922316Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-7908434319673863637","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["ObjectStorageReadOnly","ObjectStorageObjectsRead","ObjectStorageBucketsRead"],"project_ids":["00d08ac1-e02a-49d6-bc63-9dae5b19afc2"]}],"tags":null,"application_id":"41645ee7-74d1-468a-9371-a8454cfbd7cf"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"41645ee7-74d1-468a-9371-a8454cfbd7cf","created_at":"2024-03-08T08:52:07.017118Z","description":"","editable":true,"id":"0754738d-1983-4164-a884-2c8016239889","name":"test-acc-scaleway-iam-policy-7908434319673863637","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-08T08:52:07.017118Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"41645ee7-74d1-468a-9371-a8454cfbd7cf","default_project_id":"00d08ac1-e02a-49d6-bc63-9dae5b19afc2","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWYJ0VSY2XEQW7EVNTF","application_id":"41645ee7-74d1-468a-9371-a8454cfbd7cf","created_at":"2024-03-08T08:52:07.271067Z","creation_ip":"151.252.119.15","default_project_id":"00d08ac1-e02a-49d6-bc63-9dae5b19afc2","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-08T08:52:07.271067Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
