---
version: 1
interactions:
- request:
    body: '{"name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-08T07:34:33.858277Z","description":"","id":"c9ea90e7-73c5-4e2c-8efe-9ef52357dbb0","name":"tf_tests_mnq_sqs_queue_default_project","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-08T07:34:33.858277Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
