---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-1896037654834716290","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:30:49.104330Z","description":"","id":"63b2aa5f-8f84-43d6-aa0c-3f78755e4fcc","name":"test-acc-scaleway-project-1896037654834716290","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-07T21:30:49.104330Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-1850726517307800331","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:30:49.369540Z","description":"","editable":true,"id":"bf368318-35e6-495c-99d5-f844355c1aa1","name":"test-acc-scaleway-iam-app-1850726517307800331","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:30:49.369540Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-1980689783954210473","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["IAMManager"],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":null,"application_id":"bf368318-35e6-495c-99d5-f844355c1aa1"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"bf368318-35e6-495c-99d5-f844355c1aa1","created_at":"2024-03-07T21:30:49.497950Z","description":"","editable":true,"id":"05dbd701-f9c5-46c3-bf68-04e3533d2a66","name":"test-acc-scaleway-iam-policy-1980689783954210473","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:30:49.497950Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"bf368318-35e6-495c-99d5-f844355c1aa1","default_project_id":"63b2aa5f-8f84-43d6-aa0c-3f78755e4fcc","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWYY83MVXVKTZVZ5FZX","application_id":"bf368318-35e6-495c-99d5-f844355c1aa1","created_at":"2024-03-07T21:30:49.798408Z","creation_ip":"51.159.73.9","default_project_id":"63b2aa5f-8f84-43d6-aa0c-3f78755e4fcc","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-07T21:30:49.798408Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
