---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-9036172006857625578","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:30:52.255674Z","description":"","id":"c8b5677f-5ba2-4f51-9cda-53ab05f4540c","name":"test-acc-scaleway-project-9036172006857625578","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-07T21:30:52.255674Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-3259747504174678838","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:30:52.497686Z","description":"","editable":true,"id":"387407a4-8327-4d68-a820-7bc61c2948e8","name":"test-acc-scaleway-iam-app-3259747504174678838","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:30:52.497686Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-662770341674716798","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["IAMManager"],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":null,"application_id":"387407a4-8327-4d68-a820-7bc61c2948e8"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"387407a4-8327-4d68-a820-7bc61c2948e8","created_at":"2024-03-07T21:30:52.613731Z","description":"","editable":true,"id":"4953e87a-b58d-4e83-8122-b47cdcb4f0ae","name":"test-acc-scaleway-iam-policy-662770341674716798","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:30:52.613731Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"387407a4-8327-4d68-a820-7bc61c2948e8","default_project_id":"c8b5677f-5ba2-4f51-9cda-53ab05f4540c","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW7HDXJNSW4PPHP7AAJ","application_id":"387407a4-8327-4d68-a820-7bc61c2948e8","created_at":"2024-03-07T21:30:52.910816Z","creation_ip":"51.159.73.9","default_project_id":"c8b5677f-5ba2-4f51-9cda-53ab05f4540c","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-07T21:30:52.910816Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
