---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-6609994717025585521","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:30:50.698505Z","description":"","id":"155f0a2d-46e3-4365-b420-0af2c5569a7c","name":"test-acc-scaleway-project-6609994717025585521","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-07T21:30:50.698505Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-6819477179801995651","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:30:50.959343Z","description":"","editable":true,"id":"1745f3d9-e764-4cc8-a982-626418697b96","name":"test-acc-scaleway-iam-app-6819477179801995651","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:30:50.959343Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-3449392426833916552","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["IAMManager"],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":null,"application_id":"1745f3d9-e764-4cc8-a982-626418697b96"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"1745f3d9-e764-4cc8-a982-626418697b96","created_at":"2024-03-07T21:30:51.074845Z","description":"","editable":true,"id":"751d87bb-8940-4088-b1ba-8ea15eef25cb","name":"test-acc-scaleway-iam-policy-3449392426833916552","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:30:51.074845Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"1745f3d9-e764-4cc8-a982-626418697b96","default_project_id":"155f0a2d-46e3-4365-b420-0af2c5569a7c","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCWR3CA3QM0JSHW0E89E","application_id":"1745f3d9-e764-4cc8-a982-626418697b96","created_at":"2024-03-07T21:30:51.363044Z","creation_ip":"51.159.73.9","default_project_id":"155f0a2d-46e3-4365-b420-0af2c5569a7c","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-07T21:30:51.363044Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
