---
version: 1
interactions:
- request:
    body: '{"name":"test-acc-scaleway-project-1202481755891830194","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/account/v3/projects
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:30:51.489571Z","description":"","id":"561930d6-0dca-44a9-a473-e44875fc1c75","name":"test-acc-scaleway-project-1202481755891830194","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","updated_at":"2024-03-07T21:30:51.489571Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-app-6464164580826497508","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","description":"","tags":null}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/applications
    method: POST
  response:
    body: '{"created_at":"2024-03-07T21:30:51.729059Z","description":"","editable":true,"id":"7a912ef3-e025-45e0-8949-0f359a7bc806","name":"test-acc-scaleway-iam-app-6464164580826497508","nb_api_keys":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:30:51.729059Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"name":"test-acc-scaleway-iam-policy-5576827623828134072","description":"","organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","rules":[{"permission_set_names":["IAMManager"],"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42"}],"tags":null,"application_id":"7a912ef3-e025-45e0-8949-0f359a7bc806"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/policies
    method: POST
  response:
    body: '{"application_id":"7a912ef3-e025-45e0-8949-0f359a7bc806","created_at":"2024-03-07T21:30:51.852571Z","description":"","editable":true,"id":"b214afbe-79e6-43f8-8831-59042eedcc12","name":"test-acc-scaleway-iam-policy-5576827623828134072","nb_permission_sets":0,"nb_rules":0,"nb_scopes":0,"organization_id":"951df375-e094-4d26-97c1-ba548eeb9c42","tags":[],"updated_at":"2024-03-07T21:30:51.852571Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"application_id":"7a912ef3-e025-45e0-8949-0f359a7bc806","default_project_id":"561930d6-0dca-44a9-a473-e44875fc1c75","description":""}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.scaleway.com/iam/v1alpha1/api-keys
    method: POST
  response:
    body: '{"access_key":"SCW87Y5ZBHBXCACTAP46","application_id":"7a912ef3-e025-45e0-8949-0f359a7bc806","created_at":"2024-03-07T21:30:52.147274Z","creation_ip":"51.159.73.9","default_project_id":"561930d6-0dca-44a9-a473-e44875fc1c75","description":"","editable":true,"expires_at":null,"secret_key":"00000000-0000-0000-0000-000000000000","updated_at":"2024-03-07T21:30:52.147274Z"}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: ""
